.row {
	display: flex;
	margin: -10px;
	flex-wrap: wrap;
}

.row .col-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-3 {
	width: 25%;
	padding: 10px;
}

.row .col-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-6 {
	width: 50%;
	padding: 10px;
}

.row .col-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-9 {
	width: 75%;
	padding: 10px;
}

.row .col-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-12 {
	width: 100%;
	padding: 10px;
}

.first-collec {
	height: 100%;
	margin-top: 50px;
}

.first-collec .card {
	position: relative;
	height: 100%;
	cursor: pointer;
}

.first-collec .card:hover img {
	transform: scale(1.1);
}

.first-collec .card:hover .content {
	background-color: royalblue;
}

.first-collec .card:hover .content a {
	color: white;
}

.first-collec .card .img {
	overflow: hidden;
	height: 100%;
}

.first-collec .card img {
	width: 100%;
	height: auto;
	transition: all .8s;
	-o-object-fit: cover;
	object-fit: cover;
}

.first-collec .card .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transition: all .8s;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	background-color: rgba(255, 255, 255, .8);
}

.first-collec .card .content a {
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	display: inline-block;
	padding: 12px 40px;
	color: black;
}

.second-collec {
	height: 100%;
	margin-top: 10px;
	margin-bottom: 50px;
}

.second-collec .card {
	position: relative;
	height: 100%;
	cursor: pointer;
}

.second-collec .card:hover img {
	transform: scale(1.1);
}

.second-collec .card:hover .content {
	background-color: royalblue;
}

.second-collec .card:hover .content a {
	color: white;
}

.second-collec .card .img {
	overflow: hidden;
	height: 100%;
}

.second-collec .card img {
	width: 100%;
	height: auto;
	transition: all .8s;
	-o-object-fit: cover;
	object-fit: cover;
}

.second-collec .card .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transition: all .8s;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	background-color: rgba(255, 255, 255, .7);
}

.second-collec .card .content a {
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	display: inline-block;
	padding: 12px 40px;
	color: black;
}

@media (max-width: 1200px) {

.row .col-lg-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-lg-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-lg-3 {
	width: 25%;
	padding: 10px;
}

.row .col-lg-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-lg-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-lg-6 {
	width: 50%;
	padding: 10px;
}

.row .col-lg-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-lg-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-lg-9 {
	width: 75%;
	padding: 10px;
}

.row .col-lg-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-lg-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-lg-12 {
	width: 100%;
	padding: 10px;
}

}

@media (max-width: 992px) {

.row .col-md-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-md-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-md-3 {
	width: 25%;
	padding: 10px;
}

.row .col-md-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-md-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-md-6 {
	width: 50%;
	padding: 10px;
}

.row .col-md-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-md-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-md-9 {
	width: 75%;
	padding: 10px;
}

.row .col-md-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-md-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-md-12 {
	width: 100%;
	padding: 10px;
}

}

@media (max-width: 768px) {

.row .col-sm-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-sm-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-sm-3 {
	width: 25%;
	padding: 10px;
}

.row .col-sm-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-sm-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-sm-6 {
	width: 50%;
	padding: 10px;
}

.row .col-sm-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-sm-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-sm-9 {
	width: 75%;
	padding: 10px;
}

.row .col-sm-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-sm-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-sm-12 {
	width: 100%;
	padding: 10px;
}

}

@media (max-width: 576px) {

.row .col-xs-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-xs-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-xs-3 {
	width: 25%;
	padding: 10px;
}

.row .col-xs-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-xs-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-xs-6 {
	width: 50%;
	padding: 10px;
}

.row .col-xs-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-xs-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-xs-9 {
	width: 75%;
	padding: 10px;
}

.row .col-xs-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-xs-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-xs-12 {
	width: 100%;
	padding: 10px;
}

.container {
	width: 100%;
	padding: 0 20px;
}

.first-collec {
	margin-top: 20px;
}

}

@-webkit-keyframes fadeIn {

from {
	transform: translateY(-10px);
}

to {
	transform: translateY(-18px);
}

}

@keyframes fadeIn {

from {
	transform: translateY(-10px);
}

to {
	transform: translateY(-18px);
}

}

@-webkit-keyframes fadeInAfter {

from {
	transform: translateY(-10px) rotate(45deg);
}

to {
	transform: translateY(-18px) rotate(45deg);
}

}

@keyframes fadeInAfter {

from {
	transform: translateY(-10px) rotate(45deg);
}

to {
	transform: translateY(-18px) rotate(45deg);
}

}

@-webkit-keyframes headerScrool {

from {
	transform: translateY(-100%);
}

to {
	transform: translateY(0);
}

}

@keyframes headerScrool {

from {
	transform: translateY(-100%);
}

to {
	transform: translateY(0);
}

}

@-webkit-keyframes scroolDown {

0% {
	transform: scaleY(0);
	transform-origin: top;
	opacity: 0;
}

100% {
	transform: scaleY(1);
	transform-origin: top;
	opacity: 1;
}

}

@keyframes scroolDown {

0% {
	transform: scaleY(0);
	transform-origin: top;
	opacity: 0;
}

100% {
	transform: scaleY(1);
	transform-origin: top;
	opacity: 1;
}

}

@-webkit-keyframes leftToRight {

from {
	transform: translateX(-50px);
	opacity: 0;
}

to {
	transform: translateX(0);
	opacity: 1;
}

}

@keyframes leftToRight {

from {
	transform: translateX(-50px);
	opacity: 0;
}

to {
	transform: translateX(0);
	opacity: 1;
}

}

@-webkit-keyframes leftToRightAfter {

from {
	transform: translateX(-50px) rotate(45deg);
	opacity: 0;
}

to {
	transform: translateX(0) rotate(45deg);
	opacity: 1;
}

}

@keyframes leftToRightAfter {

from {
	transform: translateX(-50px) rotate(45deg);
	opacity: 0;
}

to {
	transform: translateX(0) rotate(45deg);
	opacity: 1;
}

}

@-webkit-keyframes ani1 {

from {
	opacity: 0;
}

to {
	transform: translateY(0);
	opacity: 1;
}

}

@keyframes ani1 {

from {
	opacity: 0;
}

to {
	transform: translateY(0);
	opacity: 1;
}

}

@-webkit-keyframes ani2 {

from {
	opacity: 1;
}

to {
	opacity: 0;
}

}

@keyframes ani2 {

from {
	opacity: 1;
}

to {
	opacity: 0;
}

}

@-webkit-keyframes textanimation {

from {
	transform: translateX(-230px);
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes textanimation {

from {
	transform: translateX(-230px);
	opacity: 0;
}

to {
	opacity: 1;
}

}

@-webkit-keyframes downward {

from {
	transform: translateY(-200px);
	opacity: 0;
}

to {
	transform: translateY(0px);
	opacity: 1;
}

}

@keyframes downward {

from {
	transform: translateY(-200px);
	opacity: 0;
}

to {
	transform: translateY(0px);
	opacity: 1;
}

}

@-webkit-keyframes upward {

from {
	transform: translateY(0px);
	opacity: 1;
}

to {
	transform: translateY(-100px);
	opacity: 0;
}

}

@keyframes upward {

from {
	transform: translateY(0px);
	opacity: 1;
}

to {
	transform: translateY(-100px);
	opacity: 0;
}

}

@-webkit-keyframes colorAnimation__after {

from {
	transform: translateY(-30px);
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes colorAnimation__after {

from {
	transform: translateY(-30px);
	opacity: 0;
}

to {
	opacity: 1;
}

}

@-webkit-keyframes colorAnimation__before {

from {
	transform: translateY(-30px);
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes colorAnimation__before {

from {
	transform: translateY(-30px);
	opacity: 0;
}

to {
	opacity: 1;
}

}

@-webkit-keyframes tabAnimation {

from {
	transform: translateX(-500px);
}

to {
	transform: translateY(0px);
}

}

@keyframes tabAnimation {

from {
	transform: translateX(-500px);
}

to {
	transform: translateY(0px);
}

}

