@import "grid";
@import "animation";
@import "library";
$width:100vw;
$unit:$width/100;

body,html{
    font-family: 'Hind', sans-serif;
}
@mixin titleLogin_after($width,$height) {
   
    position: absolute;
    width: $width;
    height: $height;
    bottom:-50px;
    box-shadow: 0px 0px 10px -2px rgba($color: #000000, $alpha: 0.2);
    border-radius: 4px;
  //  display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    left: -10px;
    color: rgba($color: #000000, $alpha: 0.7);
    font-size: 14px;
    transition: all 0.4s;
    //opacity: 0;
    display: none;
    z-index: 2;
  
    @content;
}

@mixin titleLogin_before($width, $height,$left){
   
    position: absolute;
    width: $width;
    height: $height;
    transform: rotate(45deg);
    background-color: white;
    bottom:-30px;
   
    left: $left;
    box-shadow: 0px 0px 10px -2px rgba($color: #000000, $alpha: 0.2);
  //   opacity: 0;
    display: none;
    transition: all 0.4s;
    @content;
    z-index: 3;

}

@mixin titleinProduct_after($width,$height, $left){
    
    position: absolute;
    width: auto;
    height: $height;
    border-radius: 4px;
    padding: 0px 8px;
    background-color: white;
    padding-top: 2px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    left: $left;
    box-shadow: 0px 0px 10px -2px rgba($color: #000000, $alpha: 0.4);
    display: none;
    @content;
  
}

@mixin titleinProduct_befor($width,$height,$left){
    
    content: '';
    width: $width;
    height: $height;
    position: absolute;
    background-color: white;
    transform:rotate(45deg);
    left: $left;
    z-index: 1;
    display: none;
}

.container{
    width: 87%;
    margin: 0 auto;
}



.slider{
    position: relative;
    width: 100%;
    z-index: 0 !important;
    video{
       // height: 545px;
        height: calc(#{$unit} *40);
        @include xs{
            height: 300px;
        }
    }
   
   img{
       width: 100%;
       height: calc(#{$unit} *40.07);
   }
    @include md{
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }

    .animation1{
        animation: ani1 1 forwards;
    }
    .animation2{
        animation: ani2 1 forwards;
    }

.owl-item.active{
   
   
    .content{
        animation: textanimation 1s forwards;
    }
}
    .owl-nav{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include md{
            display:  none !important;
        }
       button{
        
           &:hover{
            background: transparent !important;
            i{
                color: black !important;
            }
           }
       }
       i{
           font-size: 30px;
           padding: 0px 10px;
           color: rgba($color: #000000, $alpha: 0.4) !important;
          
       }
    }
    .owl-dots{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @include sm{
            display:  none !important;
        }
    }
    .block{
        img{
            width: 100%;
        }
     
        .content{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include xs{
               
                p{
                    font-size: 15px;
                    line-height: 17px;
                    font-weight: 400;
                    margin-bottom: 12px;
                }
                h5{
                    font-size: 25px;
                    line-height: 18px;
                    font-weight: 500;
                    margin-bottom: 5px;

                }
                .text{
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 300;
                    text-align: center;
                    margin: 12px 0px;
                }
                button{
                    a{
                        font-size: 12px;
                        line-height: 12px;
                        font-weight: 500;
                        padding: 10px 25px;
                    }
                }
            }
            @include md{
               
                p{
                    font-size: 30px;
                    line-height: 33px;
                    font-weight: 400;
                    margin-bottom: 12px;
                }
                h5{
                    font-size: 50px;
                    line-height: 55px;
                    font-weight: 500;
                    margin-bottom: 5px;

                }
                .text{
                    font-size: 15px;
                    line-height: 18px;
                    font-weight: 300;
                    text-align: center;
                    margin: 12px 0px;
                }
                button{
                    a{
                        font-size: 12px;
                        line-height: 12px;
                        font-weight: 500;
                        padding: 10px 25px;
                    }
                }
            }
            p{
               font-size: 36px;
                font-weight: 400;
                line-height: 70px;
                color: #2879fe;
                text-align: center;
            }
            h5{
                font-size: 70px;
                font-weight: 500;
                line-height: 70px;
                text-align: center;
                color: #191919;
            }
            .text{
                font-size: 16px;
               
                line-height: 18px;
                color: rgba($color: #000000, $alpha: 0.6);
                margin: 25px 0px;
                text-align: center;
            }
            button{
                background-color: #2879fe;
                border-radius: 5px;
                &:hover{
                    background-color: royalblue;
                }
                a{
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 500;
                    color: white;
                    display: inline-block;
                    padding: 15px 40px;
                    font-family: 'Hind', sans-serif;
                }
            }
        }
    }

   
   
    
    
}

.shopify-section{
    .setPadding-right{
        padding-right: 0px;
    }
    .setPadding-left{
        padding-left: 0;
    }
    @include sm{
        .setPadding-right{
            padding-bottom: 0px;
        }
        .setPadding-left{
            padding-top: 0;
        }
    }
   
    .row{
       
        
        margin: 0;
        
        .content{
            position: relative;
            overflow: hidden;
            transition: all 0.4s;
          
          
           // background-color: yellow;
           height: 100%;
        
            &:hover{
                img{
                    transform: scale(1.2);
                    // height: 100%;
                }
                .link{
                   
                    a{
                        color: white;
                        background-color: rgba($color: royalblue, $alpha: 0.8);
                    }
                }
            }
            .link{
                position: absolute;
               
                left: 50%;
                top: 50%;
                transform: translate(-50%);
                transition: all 0.4s;
                z-index: 11;
               .btn{
                    color: black;
                    background-color: rgba($color: white, $alpha: 0.8);
                    padding: 12px 38px;
                  
                    border-radius: 4px;     
                }
            }
          
            img{
                width: 100%;
                height: 100%;
                 object-fit: cover;
                transition: all 0.8s;
              
              
            }
           
            
        }
     
        }
        
        
    
   
}

.messenger{
    @include md{
        display: none;
        img{
            
        }
    }
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: block;
    z-index: 100;
    img{
        object-fit: cover;
        width: 60px;
        height:60px;
    }
}


.bestSeller{
    .container{
        .bestSeller_title{
            margin: 32px 0px 40px 0px;
            display: flex;
            justify-content: center;
            h1{
                text-align: center;
                font-family: 'Hind', sans-serif;
                margin-bottom: 5px;
                color: black;
              line-height: 31px;

               &:hover{
                   color: royalblue;
               }
    
            }
            p{
                text-align: center;
                font-family: 'Hind', sans-serif;
                font-size: 16px;
            }
        }

    //  .card{
       
       
    //     position: relative;
    //     &:hover{
    //         .card__about{
    //             transform:translateY(-50px);
    //             .addToCart{
    //                 opacity: 1;
    //             }
    //         }
    //         .img{
    //             .clock{
    //                 transform:translateY(-50px);
    //             }
    //         }
    //     }
    //     .img{
    //         position: relative;
    //         width: 100%;
    //         .clock{
    //             position: absolute;
    //             bottom: 20px;
    //             width: 100%;
    //             display: flex;
    //             justify-content: space-evenly;
    //             transition: all 0.4s;
               
    //             .clock__day,.clock__hour,.clock__sec,.clock__min{
    //                 width: 22%;
    //                 height: 70px;
    //                 background-color: rgba($color: white, $alpha: 0.9);
    //                 display: flex;
    //                 flex-direction: column;
    //                 justify-content: center;
    //                 align-items: center;
    //                 border-radius: 5px;
    //                 @include xs{
    //                     height: 50px;
    //                     font-size: 14px;
    //                 }
    //                 .day{

    //                 }
    //                 span{
                        
    //                     color: #4169e1;
    //                 }
    //             }
               
                
    //         }
    //         .sale{
    //             position: absolute;
    //             background-color: red;
    //             color: white;
    //             padding: 1px 10px;
    //             font-size: 12px;
    //             margin: 10px;
    //             border-radius: 4px;
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
               
    //         }
    //         img{
    //             width: 100%;
    //             height: 350px;
    //             object-fit: cover;
    //             @include xs{
    //                 height: 260px;
    //             }
    //         }
    //         &:hover{
    //             .icons{
    //                 opacity: 1;
    //             }
    //         }
    //         .icons{
    //             position: absolute;
    //             display: flex;
    //             flex-direction: column;
    //             right: 0;
    //            opacity: 0;
    //            transition: all 0.4s;
    //             span{
    //                 width: 45px;
    //                 height: 45px;
    //                 background-color: rgba($color: white, $alpha: 0.8);
    //                 border-radius: 50%;
    //                 display: flex;
    //                 justify-content: center;
    //                 align-items: center;
    //                 margin:10px;
    //                 cursor: pointer;
    //                 i{
    //                     font-size: 14px;
    //                 }
    //                 &:hover{
    //                     background-color: rgba($color: blue, $alpha: 0.4);
    //                     i{
    //                         color: white;
    //                     }
    //                     &.icon_eye,&.icon_heart,&.icon_compare,&.active-icon_compare{
    //                         &::after{
    //                             display: flex;
    //                             animation: leftToRight 0.8s forwards;

    //                         }
    //                         &::before{
    //                             display: block;
    //                             animation:  leftToRightAfter 0.8s forwards;
    //                         }
    //                     }
    //                 }
    //                 &.icon_eye{
                      
                       
    //                     &::after{
                            
    //                         @include titleinProduct_after(90px,22px,-110px){
                               
    //                             content: 'Quick View';
    //                             font-size: 14px;
    //                         }
    //                     }
    //                     &::before{
    //                         @include titleinProduct_befor(6px,6px,-28px);
    //                     }

    //                 }
    //                 &.icon_heart{
    //                     &::after{
    //                         @include titleinProduct_after(90px,22px,-110px){
    //                             content: 'Add To Wish';
    //                             font-size: 14px;
    //                         }
    //                     }
    //                     &::before{
    //                         @include titleinProduct_befor(6px,6px,-21px);
    //                     }
    //                 }
                   
                  
    //                 &.icon_compare{
    //                     &::after{
    //                         @include titleinProduct_after(120px,22px,-140px){
    //                             content: 'Add To Compare';
    //                             font-size: 14px;
    //                         }
    //                     }
    //                     &::before{
    //                         @include titleinProduct_befor(6px,6px,-26px);
    //                     }
    //                 }
    //                 &.active-icon_compare{
    //                     background:#2879fe;
    //                     i{
    //                         color: white;
    //                     }
    //                     &::after{
    //                         @include titleinProduct_after(120px,22px,-140px){
    //                             content: 'Remove To Compare';
    //                             font-size: 14px;
    //                         }
    //                     }
    //                     &::before{
    //                         @include titleinProduct_befor(6px,6px,-2px);
    //                     }
    //                 }



    //             }
    //         }
    //     }
    //     .card__about{
    //         padding: 10px 0px;
            
    //         width: 100%;
    //         background-color: white;
    //         transition: all 0.4s;
    //         .title{
    //             font-size: 12px;
    //             @include xs{
    //                 font-size: 10px;
    //             }
    //             text-align: center;
    //             a{
    //                 color: rgba($color: #000000, $alpha: 0.6);   
    //             }
    //         }
    //         .card__about-start{
    //             margin: 10px 0px;
    //             display: flex;
    //             justify-content: center;
    //             i{
    //                 font-size: 10px;
                    
    //                 padding: 0px 2px;
    //                 &.starActive{
    //                     color: orange;
    //                 }
    //             }
    //         }
    //         .card__nameProduct{
    //             text-align: center;
    //             margin: 8px 0px;

    //             a{
    //                 color: rgba($color: #000000, $alpha: 0.9);   
    //                 font-size: 14px;
    //             }
    //         &:hover{
    //             a{
    //                 color:#2879fe;
    //             }
    //         }
    //         }
    //         .card__priceProduct{
    //             font-weight: 500;
    //             font-family: 'Hind', sans-serif;
    //             margin: 5px 0px;
    //             text-align: center;
                
    //             // color:#191919;
    //            font-size: 16px;
    //             .priceSlae{
    //                 color: red;
    //                 text-decoration: none !important;
    //                 margin: 0px 6px;
    //                 font-size: 16px;

    //             }
    //             .initiPrice{
    //                 text-decoration: line-through;
    //             }
    //             @include xs{
    //                 font-size: 14px;
    //                 margin: 10px;
    //             }
    //         }
    //         .imgChoise{
    //             display: flex;
    //             justify-content: center;
    //             margin: 20px 0px;
    //             img{
    //                 cursor: pointer;
    //                 width: 40px;
    //                 height: 40px;
    //                 object-fit: cover;
    //                 border: 2px solid royalblue;
    //                 border-radius: 5px;
    //                 margin-left: 2px;
    //             }
    //         }
    //         .addToCart{
    //             display: flex;
    //             justify-content: center;

    //             opacity: 0;
    //             cursor: pointer;
    //             &:hover{
    //                 a{
    //                     background-color: royalblue;
    //                    }
    //             }
    //             @include md{
    //                 opacity: 1;
    //             }
    //             @include xs{
    //                 font-size: 14px;
    //             }
    //             a{
    //                 padding: 8px 25px;
    //                 background-color: #2879fe;
    //                 color: white;
    //                 border-radius: 6px;
    //                 font-size: 14px;
    //                 i{
    //                     margin-right: 4px;
    //                     font-size: 20px;
    //                 }
    //             }
    //         }
    //     }
    // }
    }
}
 


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow-y: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    &.active-model{
        
        .modal-content{
            animation: downward 0.8s forwards;
        }
    }
 
      /* Modal Content/Box */
  .modal-content {
    
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
   
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    position: relative;
    .box{
        
      
        font-family: 'Hind', sans-serif;
        width: 100%;
        height: 100%;
        padding:40px 10px;
     
        
        .box__left{
            border-right: 1px solid rgba($color: #000000, $alpha: 0.5);
            display: flex;
            flex-direction: column;
            @include sm{
                border-right: none;
            }
           
            align-items: center;
            .box__left-title{
                @include md{
                    i,span{
                        font-size: 14px;
                    }
                   
                }
                i{
                    color: royalblue;
                    font-size: 20px;
                    padding-right: 4px;
                }
                span{
                    font-size: 20px;
                }
            }
            .img{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                img{
                    width: 150px;
                    height: 200px;
                    object-fit: cover;
                }
              .name{
                font-size: 14px;
                color: rgba($color: #000000, $alpha: 0.7);
                margin: 6px 0px;
              }
              .QTY{
                font-size: 14px;
                color: rgba($color: #000000, $alpha: 0.7);
              }
                .total{
                    margin: 10px;
                    .total-price{

                    }
                }
            }
        }

        .box__right{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
           @include sm{
               display: none;
           }
            .box__right-top{
                display: flex;
                flex-direction: column;
                align-items: center;
                .right_acc{
                    color: rgba($color: #000000, $alpha: 0.5);
                    font-size: 12px;
                    .num{

                    }
                }
                .total_right{
                    color: black;
                    padding: 8px 0px;
                    font-size: 14px;
                    .box__right-money{
                        color: royalblue;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
           .coutinua{
               margin: 20px;
           }
            .coutinua,.viewcart{
                width: 75%;
                border:2px solid #2879fe;;
                display: flex;
                justify-content: center;

                padding:10px 10px;
                border-radius: 5px;
                cursor: pointer;
                @include md{
                   
                    padding: 5px;
                    a{
                        font-size: 12px;
                        padding: 4px 10px;
                    }
                }
                &:hover{
                    background-color:#2879fe ;
                    a{
                        color: white;
                    }
                }
                a{
                    font-size: 12px;
                    color: #2879fe;
                    padding: 2px 50px;
                }
            }
          
            .term{
            
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 22px;
                cursor: pointer;
                input:checked{
                  background: #66DE93;
              }
                  input{
                      appearance: none;
                    
                      width: 20px;
                      height: 20px;
                      background-color: #f7f8fa;
                      border:1px solid #e9e7e7;
                      border-radius: 4px;
                      cursor: pointer;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      outline: none;
                      &:checked::after{
                          display: block;
                      }
                    
                      &::after{
                          content: '\f00c';
                          font-family: "Font Awesome 5 Free";
                          font-weight: 900;
                          color: white;
                          display: none;
                      }
                  }
                 
                  label{
                      cursor: pointer;
                      margin-left: 6px;
                      font-size: 12px;
                  }
            }


            .checkout{
                width: 75%;
                border:1px solid rgba($color: #2879fe, $alpha: 0.7);
                display: flex;
                justify-content: center;

                padding:10px 10px;
                border-radius: 5px;
                background-color: rgba($color: #2879fe, $alpha: 0.7);
               cursor: pointer;
               @include md{
                   
                    padding: 5px;
                    a{
                        font-size: 12px;
                        padding: 4px 10px;
                    }
                }
                a{
                    font-size: 12px;
                    color:white;
                    padding: 4px 50px;
                }
            }

        }
    
    }
}
}



  

  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: -50px;
    top:-40px;
    //top:500px;
    &:hover{
        color: blue;
    }
  }


  .saleSummer{
   
      @include xs{
          padding-left: 20px;
          .col-xs-12{
              padding-bottom: 10px;
          }
      }
        padding:0px 20px;
        a{
            color: black;
        }
      .boxbox{
         
         overflow: hidden;
         position: relative;
         cursor: pointer;
        
         height: 360px;
        &:hover{
            img{
                transform: scale(1.1);
                
            }
            .saleSummerBox{
               .saleSB-content{
                  padding:32px;
                
               }
            }
        }
          img{
            transition: all 0.8s;
            object-fit: cover;
           
          }
          .saleSummerBox{
              position: absolute;
             
           
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            padding:20px;
            display: flex;
            justify-content: center;
            align-items: center;
            
              .blue{
                color: blue;
             }
              .saleSB-content{
                  background-color: rgba($color: white, $alpha: 0.9);
                  border-radius: 5px;
                  padding: 27px;
                  transition: all 0.2s;
                  @include xs{
                    p{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 20px;
                    }
                }
                @include md{
                    p{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 23px;
                    }
                }
                  p{
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 26px;
                    text-align: center;
                  }
                  h2{
                    font-size: 26px;
                    font-weight: 600;
                    line-height: 34px;
                    color: rgba($color: #000000, $alpha: 0.8);
                    text-align: center;
                    &.blue{
                        color: blue;
                    }
                  }
              }
          }
      }
  }

 
.trenddingWeek{
    .container{
        .trendding__title{
            margin: 40px 0px 35px 0px;
            display: flex;
            justify-content: center;
            h1{
                text-align: center;
                font-family: 'Hind', sans-serif;
                margin-bottom: 5px;
                color: black;
              line-height: 31px;

               &:hover{
                   color: royalblue;
               }
    
            }
            p{
                text-align: center;
                font-family: 'Hind', sans-serif;
                font-size: 16px;
            }
        }

    //  .card{
       
       
    //     position: relative;
    //     &:hover{
    //         .card__about{
    //             transform:translateY(-50px);
    //             .addToCart{
    //                 opacity: 1;
    //             }
    //         }
    //         .img{
    //             .clock{
    //                 transform:translateY(-50px);
    //             }
    //         }
    //     }
    //     .img{
    //         position: relative;
    //         width: 100%;
    //         .clock{
    //             position: absolute;
    //             bottom: 20px;
    //             width: 100%;
    //             display: flex;
    //             justify-content: space-evenly;
    //             transition: all 0.4s;
               
    //             .clock__day,.clock__hour,.clock__sec,.clock__min{
    //                 width: 22%;
    //                 height: 70px;
    //                 background-color: rgba($color: white, $alpha: 1);
    //                 display: flex;
    //                 flex-direction: column;
    //                 justify-content: center;
    //                 align-items: center;
    //                 border-radius: 5px;
    //                 @include xs{
    //                     height: 50px;
    //                     font-size: 14px;
    //                 }
    //                 .day{

    //                 }
    //                 span{
                        
    //                     color: #4169e1;
    //                 }
    //             }
               
                
    //         }
    //         .sale{
    //             position: absolute;
    //             background-color: red;
    //             color: white;
    //             padding: 1px 10px;
    //             font-size: 12px;
    //             margin: 10px;
    //             border-radius: 4px;
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
               
    //         }
    //         img{
    //             width: 100%;
    //             height: 350px;
    //             object-fit: cover;
    //             @include xs{
    //                 height: 260px;
    //             }
    //         }
    //         &:hover{
    //             .icons{
    //                 opacity: 1;
    //             }
    //         }
    //         .icons{
    //             position: absolute;
    //             display: flex;
    //             flex-direction: column;
    //             right: 0;
    //            opacity: 0;
    //            transition: all 0.4s;
    //             span{
    //                 width: 45px;
    //                 height: 45px;
    //                 background-color: rgba($color: white, $alpha: 0.8);
    //                 border-radius: 50%;
    //                 display: flex;
    //                 justify-content: center;
    //                 align-items: center;
    //                 margin:10px;
    //                 cursor: pointer;
    //                 i{
    //                     font-size: 14px;
    //                 }
    //                 &:hover{
    //                     background-color: rgba($color: blue, $alpha: 0.4);
    //                     i{
    //                         color: white;
    //                     }
    //                     &.icon_eye,&.icon_heart,&.icon_compare{
    //                         &::after{
    //                             display: flex;
    //                             animation: leftToRight 0.8s forwards;

    //                         }
    //                         &::before{
    //                             display: block;
    //                             animation:  leftToRightAfter 0.8s forwards;
    //                         }
    //                     }
    //                 }
    //                 &.icon_eye{
                       
    //                     &::after{
    //                         @include titleinProduct_after(90px,22px,-110px){
    //                             content: 'Quick View';
    //                             font-size: 10px;
    //                         }
    //                     }
    //                     &::before{
    //                         @include titleinProduct_befor(6px,6px,-6px);
    //                     }

    //                 }
    //                 &.icon_heart{
    //                     &::after{
    //                         @include titleinProduct_after(90px,22px,-110px){
    //                             content: 'Add To Wish';
    //                         }
    //                     }
    //                     &::before{
    //                         @include titleinProduct_befor(6px,6px,-6px);
    //                     }
    //                 }
    //                 &.icon_compare{
    //                     &::after{
    //                         @include titleinProduct_after(120px,22px,-140px){
    //                             content: 'Add To Compare';
    //                         }
    //                     }
    //                     &::before{
    //                         @include titleinProduct_befor(6px,6px,-6px);
    //                     }
    //                 }
    //             }
    //         }
    //     }
    //     .card__about{
    //         padding: 10px 0px;
            
    //         width: 100%;
    //         background-color: white;
    //         transition: all 0.4s;
    //         .title{
    //             font-size: 12px;
    //             @include xs{
    //                 font-size: 10px;
    //             }
    //             text-align: center;
    //             a{
    //                 color: rgba($color: #000000, $alpha: 0.6);   
    //             }
    //         }
    //         .card__about-start{
    //             margin: 10px 0px;
    //             display: flex;
    //             justify-content: center;
    //             i{
    //                 font-size: 10px;
                    
    //                 padding: 0px 2px;
    //                 &.starActive{
    //                     color: orange;
    //                 }
    //             }
    //         }
    //         .card__nameProduct{
    //             text-align: center;
    //             margin: 8px 0px;

    //             a{
    //                 color: rgba($color: #000000, $alpha: 0.9);   
    //                 font-size: 14px;
    //             }
    //         &:hover{
    //             a{
    //                 color:#2879fe;
    //             }
    //         }
    //         }
    //         .card__priceProduct{
    //             font-weight: 500;
    //             font-family: 'Hind', sans-serif;
    //             margin: 5px 0px;
    //             text-align: center;
                
    //             // color:#191919;
    //            font-size: 16px;
    //             .priceSlae{
    //                 color: red;
    //                 text-decoration: none !important;
    //                 margin: 0px 6px;
    //                 font-size: 16px;

    //             }
    //             .initiPrice{
    //                 text-decoration: line-through;
    //             }
    //             @include xs{
    //                 font-size: 14px;
    //                 margin: 10px;
    //             }
    //         }
    //         .imgChoise{
    //             display: flex;
    //             justify-content: center;
    //             margin: 20px 0px;
    //             img{
    //                 cursor: pointer;
    //                 width: 40px;
    //                 height: 40px;
    //                 object-fit: cover;
    //                 border: 2px solid royalblue;
    //                 border-radius: 5px;
    //                 margin-left: 2px;
    //             }
    //         }
    //         .addToCart{
    //             display: flex;
    //             justify-content: center;

    //             opacity: 0;
    //             cursor: pointer;
    //             &:hover{
    //                a{
    //                 background-color: royalblue;
    //                }
    //             }
    //             @include md{
    //                 opacity: 1;
    //             }
    //             @include xs{
    //                 font-size: 14px;
    //             }
    //             a{
    //                 padding: 8px 25px;
                   
    //                 background-color: #2879fe;
    //                 color: white;
    //                 border-radius: 6px;
    //                 font-size: 14px;
    //                 i{
    //                     margin-right: 4px;
    //                     font-size: 20px;
    //                 }
    //             }
    //         }
    //     }
    // }
    }
}
 

 
 .blogs{
     .container{
         .blogs__title{
             a{
                text-align: center;
                display: block;
                font-size: 24px;
                color: black;
             }
             p{
                text-align: center;
                font-size: 16px;
                color: rgba($color: #000000, $alpha: 0.8);

             }
             margin-bottom: 40px;
             margin-top: -10px;
         }

         .row{
             .blog{
                 @include xs{
                     margin-top: 150px;
                 }
                 @include md{
                    margin-top: 130px;
                }
                 padding: 0px 10px;
                 &:hover{
                    .blog_hover{
                        width: 90%;
                        height: 120px;
                    }
                 }
                
                 position: relative;
               
            
                 .img{
                   a{
                       
                     img{
                        width: 100%;
                        height: 270px;
                        object-fit: cover;
                     }
                   }
                 }
                 .blog_hover{
                    position: absolute;
                    width: 85%;
                   
                    height: 110px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0%;
                    background-color: white;
                    z-index: 1;
                    transition: all 0.4s;
                 }
               
                    .blog__content{
                        display: flex;
                        justify-content: center;
                     
                      .sub__blog{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        width: 85%;
                     //  background-color: white;
                        border-radius: 10px;
                        transition: all 0.4s;
                        z-index: 2;
                        bottom:-50%;
                        padding-bottom: 32px;
                        padding-left: 10px;
                        padding-right: 10px;
                      
                        >a{
                           text-align: center;
                           display: block;
                           font-size: 14px;
                           font-weight: 500;
                           line-height: 17px;
                           margin-top: 22px;
                           color: blue;
                        }
                        .name_blog{
                           padding: 20px 0px;
                           line-height: 30px;
                            a{
                               text-align: center;
                               font-size: 20px;
                              
                             
                               color: black;
                            }
                            &:hover{
                                a{
                                   color:royalblue;
                                }
                            }
                           
                        }
                        .blog-text{
                           text-align: center;
                           font-size: 14px;
                           line-height: 22px;
                           font-family: 300;
                           color: rgba($color: black, $alpha: 0.7);
                           margin-bottom: 25px;
                        }
                        .blog-autho{
                           font-size: 12px;
                           color: rgba($color: black, $alpha: 0.7);
                            a{
                               color: black;
                               &:hover{
                                  
                                       text-decoration:underline;
                                   
                               }
                            }
                            .num_com{
                                margin-left: 20px;
                               i{
                                   padding: 0px 5px;
                               }
                            }
                        }
                    }
                }
               

             }
         }
     }
 }


.followIntagram{
    margin-top: 170px;
    margin-bottom: 50px;
    position: relative;
    .row{
        width: 100%;
        margin: 0;
    }
    .col-2{
        padding: 0px;
    }
    .row .col-md-4{
        padding: 0;
    }
    .fl__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 33px;
        .fl__link{
            font-size: 24px;
            line-height: 31px;
            font-weight: 500;
            text-align: center;
            
            a{
                color: #2879fe;
                
            }
            p{
                text-align: center;
            }
        }
        .fl__name{
            font-size: 16px;
            line-height: 24px;
        }
      
    }
    .img{
        height: 225px;
        position: relative;
        &:hover{
            &::after{
              opacity: 1;
            }
            i{
                display: block;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
            i{
                font-size: 24px;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 1;
                color: white;
                display: none;
                transition: all 0.4s;
            }
        
        
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.7);
            position:absolute;
           opacity: 0;
            top:0;
            left:0;
            transition: all 0.4s;
        }
    }
}




.support{
    margin-bottom: 55px;
    .support_24-7{
        display: flex;
        align-items: flex-start;
        &:hover{
           .content{
               h4{
                   a{
                       color: #2879fe;
                   }
               }
           }
        }
        .icon{
            a{
                i{
                    font-size: 50px;
                    color:  #2879fe;;
                }
            }
        }
        .content{
            margin-left: 30px;
            h4{
                a{
                    font-size: 16px;
                    color: black;
                    font-weight: 500;
                }
            }
            p{
                a{
                    font-size: 14px;
                    color: rgba($color: #000000, $alpha: 0.6)

                }
            }
        }
    }
}


footer{
    
   .footer_top{
       background-color: #2879fe;
       padding: 0px 0px;
       @include sm{
           display: none;
       }
    .contacUs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            @include sm{
                h5{
                    font-size: 12px;
                }
            }
            h5{
                font-size: 15px;
                color: white;
            }
        }
        .inputMail{
            display: flex;
            align-items: flex-start;
            input{
                padding: 12px 10px;
                width: 480px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            button{
              
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                background-color: #333;
               
             
                a{
                    color: white;
                    font-size: 14px;
                    padding: 12px;
                    display: inline-block;
                }
            }
        }
        .icons{
            @include sm{
                i{
                    font-size: 12px;
                    padding-left: 5px;
                }
            }
            i{
                font-size: 16px;
                color: white;
                padding-left: 15px;
                cursor: pointer;
                &:hover{
                    color: black;
                }
            }
        }
    }
   }

   .footer__cen{
      
        background-color: #f7f8fa;
        margin-top: 10px;
        padding: 50px 0px;
      @include sm{
          display: none;
      }
       .container{
        
           .row{
               h6{
               
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 20px;
                color: #191919;
               }
               ul{
                   li{
                       margin-bottom: 6px;
                       a{
                        color: rgba($color: #000000, $alpha: 0.5);
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 300;
                        &:hover{
                            color: royalblue;
                        }
                       }
                       &:last-child{
                           margin-bottom: 0;
                       }
                   }
               }
               p{
                   font-size: 14px;
                   color: rgba($color: #000000, $alpha: 0.6);
                   span{

                   }
                   a{
                    color: royalblue;
                   }
               }
           }
       }
   }
   .footer_bottom{
       padding:20px 0px;
       .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        @include sm{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .left{
            display: flex;
           align-items: center;
            height: 100%;
            @include sm{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 15px;
            }
            p{
                font-size: 14px;
                color: rgba($color: #000000, $alpha: 0.6);
                font-weight: 300;
              margin-left: 10px;
            }
        }
        .right{
            display: flex;
            align-items: center;
            img{
                cursor: pointer;
                margin-left: 5px;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
       }
    
   }
  
   .sm-footer_cen{
    background-color: #f7f8fa;
    display: none;
   
    @include sm{
        display: block;
       
    }
    .ul1{
        display: none;
    }
    .ul2{
        display: none;
    }
    .content1, .content2{
        display: none;
    }
   
    .input_group{
        margin-top: 34px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.input1{
            display: none;
        }
        input{
            width: 100%;
            border-radius: 8px;
            padding: 15px;
        }
        button{
            width: 100%;
            padding: 15px 0px;
            color:white;
            background-color: royalblue;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 10px;
        }
    }
    .content{
        margin-top: 10px;
        p{
            font-size: 14px;
            font-weight: 300;
           color: rgba($color: #000000, $alpha: 0.6);
        }
    }
    .ul{
        margin-top: 10px;
        li{
            a{
                font-size: 14px;
                line-height: 22px;
                font-weight: 300;
                color: rgba($color: #000000, $alpha: 0.6);
                &:hover{
                    color:royalblue
                }
            }
        }
    }
    .icons{
        padding-top:20px;
        padding-bottom:34px;
        color:rgba($color: #000000, $alpha: 0.6);
        i{
            cursor: pointer;
            margin-right: 15px;
            &:hover{
                color: black;
            }
        }
    }
       .sm-categori{
           display: flex;
           justify-content: space-between;
           align-items: center;
           border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2) ;
            padding-top:34px;
            padding-bottom:15px;
            cursor: pointer;
            &:hover{
               i,p{
                color: royalblue;
               }
              
            }
           p{
                font-size: 16px;
                font-weight: 400px;
                line-height: 26px;
                color: rgba($color: #000000, $alpha: 0.9);
                
           }
           i{
            color: rgba($color: #000000, $alpha: 0.5);
            
           }
       }
   }
}

.abort{
    width: 300px;
    height: 120px;
    background-color:white;
    box-shadow: 0px 0px 10px -2px rgba($color: #000000, $alpha: 0.3);
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 10px;
    display: flex;
   
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 6px;
    z-index: 20;
    display: none;
    .left{
        width: 30%;
        height: 100%;
        margin-right: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .right{
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .someone{
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                color: rgba($color: #000000, $alpha: 0.5);
                font-size: 14px;
            }
            .abort__delete{
                cursor: pointer;
            }
        }
        p{
            white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis; 
        }
        a{
            font-size: 14px;
            font-weight: 500;
            color: black;
            &:hover{
                color: royalblue;
            
            }
        }
        
        .fromWhere{
            font-size: 12px;
            color: rgba($color: #000000, $alpha: 0.5);

        }
    }
}

.model-dialog{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow-y: hidden;
    overflow-x: hidden;
 
     background: linear-gradient(360deg, rgba(34,193,195,1) 0%, rgba(253,45,248,1) 100%);
   
    opacity: 0.98;
    &.active-model{
        
        .modal-content{
            animation: downward 0.8s forwards;
        }
    }
    &.active-Upmodel{
        
        .modal-content{
            animation: upward 0.8s forwards;
        }
    }
    .modal-content{
        display: flex;
        justify-content: center;
        align-items: center;
        .content{
            width: 70%;
            height: 100vh;
            margin-top: 100px;
            @include xs{
                margin-top: 50px;
            }
            span{
                font-size: 40px;
               
                position: absolute;
                right: 20%;
                top:10%;
                @include xs{
                  top:2%;
                }
            }
            .box{
              
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
               // padding-top:160px;
               @include xs{
                h4{
                    font-size: 20px;
                    line-height: 23px;
                    font-weight: 600;
                    color: #ffec54;
                    text-align: center;
                    margin: 12px 0px;
                    
                }
                h1{
                    font-size: 43px;
                    line-height: 40px;
                    font-weight: 700;
                    color: #ffffff;
                    text-align: center;
                     margin: 0px 0px;
                }
               
                p{
                    font-weight: 400;
                    font-size: 18px;
                    color: #ffec54;
                    margin: 20px 0px;
                    text-align: center;
                }
    
               }
                
                h4{
                    font-size: 36px;
                    line-height: 40px;
                    font-weight: 600;
                    color: #ffec54;
                    text-align: center;
                    margin: 12px 0px;
                    
                }
                h1{
                    font-size: 100px;
                    line-height: 80px;
                    font-weight: 700;
                    color: #ffffff;
                    text-align: center;
                     margin: 10px 0px;
                }
                p{
                    font-weight: 400;
                    font-size: 20px;
                    color: #ffec54;
                    margin: 20px 0px;
                    text-align: center;
                }
                button{
                    border-radius: 10px;
                    
                    background-color: #2879fe;
                    opacity: 1;
                    &:hover{
                        background-color: royalblue;
                      
                    }
                    a{
                        color: white;
                        font-size: 18px;
                        padding: 20px 30px;
                        display: inline-block;
                    }
                }
               
            }
        }
     
    }
}

